# Dossier IntelliJ IDEA
.idea/

# Fichiers spécifiques aux projets IntelliJ
*.iml
*.ipr
*.iws

# Cache et logs
out/
*.log

# Fichiers de configuration spécifiques à l'utilisateur
workspace.xml
tasks.xml
usage.statistics.xml

# Sauvegardes temporaires
shelf/
